{% extends "base.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/card.css">
{% endblock %}

{% block title %}Decks{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ deck.getTitle }}</h1>
            <p>{{ deck.getDescription }}</p>
        </div>
    </div>

    <a class="btn btn-success" href="/cards/new">New Card</a>

    <div class="row">
        <div class="d-flex flex-wrap justify-content-center">
            {% for card in cards %}
                <div class="card text-center m-3 p-3 shadow">
                    <div class="card-body d-flex flex-column">
                        <h6 class="card-title mt-auto">{{ card.getFront }}</h6>
                        <div class="mt-auto d-flex flex-column">
                            <a href="/cards/{{ card.getId }}/edit" class="btn btn-sm btn-outline-primary m-1">Edit</a>
                            <button
                                    type="button"
                                    class="btn btn-sm btn-outline-danger m-1"
                                    onclick="displayModal({{ card.getId }}, '{{ card.getFront }}')"
                                    data-bs-toggle="modal" data-bs-target="#modal"
                            >
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Delete Deck</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete card <strong><span id="cardFrontSpan"></span></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="post" action="cards/delete">
                        <input type="hidden" id="cardIdInput" name="cardId" value="">
                        <button type="submit" class="btn btn-danger" name="delete">Delete Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/scripts/cardsIndex.js"></script>
{% endblock %}
